name: qDup CI

on:
  push:
    paths-ignore:
      - '.gitignore'
      - '.dockerignore'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.github/*.yml'
      - '.github/*.java'
      - '.github/*.conf'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '.gitignore'
      - '.dockerignore'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.github/*.yml'
      - '.github/*.java'
      - '.github/*.conf'
  workflow_dispatch:

jobs:
  build-yaup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: Hyperfoil/yaup
          ref: refs/heads/master
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Maven Version
        run: mvn --version
      - name: Build
        run: |
          mvn clean install -DskipTests --no-transfer-progress
      - name: Tar Maven Repo
        shell: bash
        run: tar -I 'pigz -9' -cf maven-repo.tgz -C ~ .m2/repository
      - name: Persist Maven Repo
        uses: actions/upload-artifact@v4
        with:
          name: maven-repo
          path: maven-repo.tgz
          retention-days: 1

  build-qDup:
    runs-on: ubuntu-latest
    needs: [build-yaup]
    env:
      TESTCONTAINERS_RYUK_DISABLED: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Download Maven Repo
        uses: actions/download-artifact@v4
        with:
          name: maven-repo
          path: .
      - name: Extract Maven Repo
        shell: bash
        run: tar -xzf maven-repo.tgz -C ~
      - name: Verify Docker
        run: docker info
      - name: Build
        run: ./mvnw clean test --no-transfer-progress
      - name: Print JVM Thread Dumps When Cancelled
        if: cancelled()
        run: |
          for jvm_pid in $(jps -q -J-XX:+PerfDisableSharedMem); do
            jcmd $jvm_pid Thread.print
          done
      - name: Upload logs for failed/cancelled workflow
        if: failure() || cancelled()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: |
            */target/surefire-reports/*
            /tmp/qdup*
